<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPDAssist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CPDAssist.Properties.Settings>
            <setting name="seqMDFe" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pathXMLFabrica" serializeAs="String">
                <value>C:\Users\krekm\Desktop\Fabrica</value>
            </setting>
            <setting name="PathMDFe" serializeAs="String">
                <value>C:\Users\krekm\Desktop\MDFE\</value>
            </setting>
            <setting name="verProc" serializeAs="String">
                <value>3.0.14</value>
            </setting>
            <setting name="verLayout" serializeAs="String">
                <value>3.00</value>
            </setting>
            <setting name="modeloDoc" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="serieDoc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tipoEmissao" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tipoEmitente" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="tipoAmbiente" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pathAverbacao" serializeAs="String">
                <value>C:\Users\krekm\Desktop\AVERBACAO</value>
            </setting>
        </CPDAssist.Properties.Settings>
    </userSettings>
</configuration>
